<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE settings SYSTEM "settings.dtd">
<settings>
  <property key="locale" value="en_US"/>
  <property key="viewStatusBar" value="true"/>
  <property key="viewToolBar" value="true"/>
  <property key="maxRecentFiles" value="10"/>
  <property key="recentFile" value="I:\Google Drive\romhacking\[PSX] Castlevania Symphony of the Night\Trabalho\Logo AKUMAJU DRACULA\F_GAME.BIN"/>
  <property key="lastPath" value="I:\Google Drive\romhacking\[PSX] Castlevania Symphony of the Night\Trabalho\Logo AKUMAJU DRACULA"/>
</settings>
