<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE settings SYSTEM "settings.dtd">
<settings>
  <property key="locale" value="pt_BR"/>
  <property key="viewStatusBar" value="true"/>
  <property key="viewToolBar" value="true"/>
  <property key="maxRecentFiles" value="10"/>
  <property key="recentFile" value="I:\Google Drive\romhacking\[PSX] Castlevania Symphony of the Night\Trabalho\compactadas\originais\F_GAME.BIN"/>
  <property key="recentFile" value="I:\Google Drive\romhacking\[PSX] Castlevania Symphony of the Night\Trabalho\ST0\F_ST0.BIN"/>
  <property key="recentFile" value="I:\Google Drive\romhacking\[PSX] Castlevania Symphony of the Night\Trabalho\ST0\ST0.BIN"/>
  <property key="recentFile" value="I:\Google Drive\romhacking\[PSX] Castlevania Symphony of the Night\Trabalho\compactadas\originais\RIC.BIN"/>
  <property key="recentFile" value="I:\Google Drive\romhacking\[PSX] Castlevania Symphony of the Night\Trabalho\compactadas\originais\F_PROLO1.BIN"/>
  <property key="recentFile" value="I:\Google Drive\romhacking\[PSX] Castlevania Symphony of the Night\Trabalho\compactadas\originais\F_END.BIN"/>
  <property key="recentFile" value="I:\Google Drive\romhacking\[PSX] Castlevania Symphony of the Night\Trabalho\compactadas\originais\F_GAME2.BIN"/>
  <property key="recentFile" value="I:\Google Drive\romhacking\[PSX] Castlevania Symphony of the Night\Trabalho\Logo AKUMAJU DRACULA\F_GAME.BIN"/>
  <property key="recentFile" value="I:\Google Drive\romhacking\[PSX] Castlevania Symphony of the Night\Trabalho\compactadas\originais\F_TITLE1.BIN"/>
  <property key="recentFile" value="I:\Google Drive\romhacking\[PSX] Castlevania Symphony of the Night\Trabalho\Logo AKUMAJU DRACULA\111_TESTE_1.bmp"/>
</settings>
