<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE settings SYSTEM "settings.dtd">
<settings>
  <property key="locale" value="pt_BR"/>
  <property key="viewStatusBar" value="true"/>
  <property key="viewToolBar" value="true"/>
  <property key="maxRecentFiles" value="10"/>
  <property key="recentFile" value="H:\mega\romhacking\[PSX] Castlevania Symphony of the Night\Trabalho\ST0\F_ST0.BIN"/>
</settings>
